{% extends 'base.html' %} {% block container%}
<div class="container mt-4">
  <div class="p-5 mb-4 bg-success te rounded-3rounded-3 shadow text-center">
    <h1 class="display-5 fw-bold text-white">
      Centros Comerciales de Bucaramanga
    </h1>
    <p class="fs-5">
      Conoce algunos de los principales centros comerciales de la ciudad bonita.
    </p>
  </div>

  <div class="row">
    {% for centros_comercial in centros_comerciales %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <a
            href="{% url 'myapp:vista_centros_comercial' centros_comercial.nombre%}"
            class="card-title"
            >{{ centros_comercial.nombre}}</a
          >
          <p class="card-text">
            se encuentra ubicado en {{ centros_comercial.descripcion }}
          </p>
          <a
            href="{{ centros_comercial.url}}"
            target="_blank"
            class="btn btn-success"
            >Visitar sitio web</a
          >
        </div>
      </div>
    </div>
    {% endfor %} {% endblock %}
  </div>
</div>
