<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Centro Comercial Parque Caracolí</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="navbar">
    <nav class="nav-container">
      <a href="index.html">Inicio</a>
      <div class="dropdown">
        <button class="dropbtn">Centros Comerciales ▾</button>
        <div class="dropdown-content">
          <a href="cacique.html">Cacique</a>
          <a href="florida.html">La Florida</a>
          <a href="caracoli.html">Parque Caracolí</a>
          <a href="megamall.html">Megamall</a>
        </div>
      </div>
      <a href="contacto.html">Contáctenos</a>
    </nav>
  </header>

  <main class="contenido">
    <section>
      <h1>Centro Comercial Parque Caracolí</h1>
      <p>
        Parque Caracolí destaca por su diseño moderno y sostenible. Es el lugar perfecto para disfrutar de experiencias gastronómicas exclusivas, tiendas de marcas reconocidas y eventos culturales. Además, cuenta con el cine Cinépolis y zonas verdes que hacen del centro comercial un punto de encuentro ideal para toda la familia.
      </p>
      <img class="imagen" src="https://cloudfront-us-east-1.images.arcpublishing.com/vanguardiaeluniversal/MGOLSSHEZRGGTCBYHPTEHVB5AU.jpg" alt="Caracolí">
    </section>
    <section class="seccion" id="megamall">
        <p><h2>BOSI</h2>Bosi creó el concepto de un nuevo estilo de vida, cuya marcada influencia italiana sumada a la indiscutible calidad, ha ubicado sus productos en el primer lugar de la industria nacional como la empresa líder en materia de calzado, marroquinería y accesorios.</p>
        </section>
        <section class="seccion" id="megamall">
        <p><h2>ARCHIES</h2>Archies comparte la esencia de la gastronomía italiana y la adapta a los sabores y sensaciones que enamoran a los colombianos. Un lugar donde todos son bienvenidos, un espacio donde familias y amigos se reúnen para compartir momentos únicos alrededor de la mesa</p>
        </section>
        <section class="seccion" id="megamall">
        <p><h2>ADIDAS</h2>Calzado, ropa deportiva y otros productos relacionados con el deporte y la moda.</p>
        </section>
  </main>
</body>
</html>