<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Cacique Centro Comercial</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="navbar">
    <nav class="nav-container">
      <a href="index.html">Inicio</a>
      <div class="dropdown">
        <button class="dropbtn">Centros Comerciales ▾</button>
        <div class="dropdown-content">
          <a href="cacique.html">Cacique</a>
          <a href="florida.html">La Florida</a>
          <a href="caracoli.html">Parque Caracolí</a>
          <a href="megamall.html">Megamall</a>
        </div>
      </div>
      <a href="contacto.html">Contáctenos</a>
    </nav>
  </header>

  <main class="contenido">
    <section>
      <h1>Cacique Centro Comercial</h1>
      <p>
        Cacique es uno de los centros comerciales más modernos y visitados de Bucaramanga. Se destaca por su ubicación junto al Viaducto Provincial y por ofrecer una experiencia integral de compras, gastronomía y entretenimiento. Cuenta con tiendas ancla como Falabella, Decathlon y Cine Colombia, además de una amplia oferta de moda, tecnología y restaurantes. En sus terrazas panorámicas se pueden disfrutar vistas únicas de la ciudad.
      </p>
      <br>
      
      <img class="imagen" src="https://www.caciquecc.com/images/subsections/web_quienes-somos_1669669217_3aM2b.webp" alt="Cacique">
    </section>
    <section class="seccion" id="megamall">
        <p><h2>MOMA</h2>Sigue las últimas tendencias en accesorios y carteras para resaltar tu belleza femenina. Conoce nuestros artículos y descuentos.</p>
        </section>
        <section class="seccion" id="megamall">
        <p><h2> EL GUALILO</h2>La Tienda del Café El Gualilo ofrece un exquisito café de excelente calidad, que se vende en grano o molido.  Además, distintas opciones para degustarlo en cada una de nuestras tiendas.</p>
        </section>
        <section class="seccion" id="megamall">
        <p><h2> TOTTO</h2>Somos una multinacional de moda líder en Latinoamérica que ofrece la más sofisticada variedad y tecnología en maletines, morrales, mochilas, bolsos, ropa y accesorios</p>
        </section>
  </main>
</body>
</html>