<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Centro Comercial La Florida</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="navbar">
    <nav class="nav-container">
      <a href="index.html">Inicio</a>
      <div class="dropdown">
        <button class="dropbtn">Centros Comerciales ▾</button>
        <div class="dropdown-content">
          <a href="cacique.html">Cacique</a>
          <a href="florida.html">La Florida</a>
          <a href="caracoli.html">Parque Caracolí</a>
          <a href="megamall.html">Megamall</a>
        </div>
      </div>
      <a href="contacto.html">Contáctenos</a>
    </nav>
  </header>

  <main class="contenido">
    <section>
      <h1>Centro Comercial La Florida</h1>
      <p>
        El Centro Comercial La Florida ofrece una experiencia familiar en una ubicación privilegiada frente a la estación La Rosita. Alberga el almacén Éxito, zona deportiva, restaurantes y servicios bancarios. Es ideal para hacer compras rápidas, pasar el rato en familia y disfrutar de su ambiente tranquilo y accesible.
      </p>
      <img class="imagen" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/c2/24/b9/en-el-centro-comercial.jpg?w=1200&h=-1&s=1" alt="La Florida">
    </section>
    <section class="seccion" id="megamall">
        <p><h2>BUBBLE GUMMERS</h2>Calzado Infantil. Confort, estilo y frescura para niños.</p>
        </section>
        <section class="seccion" id="megamall">
        <p><h2>DEREK</h2>Últimas tendencias en moda y estilo de vida fresco, femenino y contemporáneo, vestidos, blusas, jeans, chaquetas, chalecos, pantalones, relojes, bolsos, zapatos y accesorios</p>
        </section>
        <section class="seccion" id="megamall">
        <p><h2>ELA</h2>Vestimos a la mujer de belleza, feminidad y versatilidad mediante una propuesta de moda, calidad, desempeño, economía y buen gusto.</p>
        </section>
  </main>
</body>
</html>